## JANE KNIGHTLEY

## ITTechnician

- jane.knightley@email.com
- Linkedin

<!-- image -->

## WORKEXPERIENCE

## ITTechnicianIntern

## Yelp

<!-- image -->

- 苗2020-current
- Seattle,WA
- ·Collaboratedwith3internstoanswer30+phonecalls, emails,andchatmessagesperday
- Communicatedwithclientstoscheduleappointmentsto resolvecomplexnetworkissues
- MaintainedthoroughknowledgeofITmanual,increasing diagnose/repairtimeby21%
- Inspectedofficeequipmentandsuggestedrepairsor replacements,reducingmaintenancecostsby7%
- CollaboratedwithtechteamtocreateSQLqueriesand scripts,boostingefficiencyforcustomersby13%

## SupportTechnician

## WashingtonStateUniversity HelpDesk

- 兰2019-2020
- Pullman,WA
- ·Evaluated,diagnosed,andresolvedtechnicalissueswith laptopsandphonesfor15+studentsperday
- Operatedonlinechatsystemtoaddressimmediate concerns,resolvinginquirieswithin8minutesonaverage
- Maintainedfaxmachines,printers,andcopiersby performingminorrepairs,saving$1.2Kayear
- Developedtake-homebookletsforstudents,reducing averagenumberofunresolvedticketsby59%

## ResearchStudyAssistant

## WashingtonState University Social SciencesDept.

- 苗2016-2019
- Pullman,WA
- ·Screenedstudycandidatesandprovidedstudy information,includingsafetyrulesanduniversitypolicies
- Recorded,organized,andcleanedstudydata,resultingin &gt;2%oferrorsonfinisheddatasheets
- Analyzed individualprojectbudgetstoidentify
- Answered8phonecallsadaytoanswerinquiriesabout researchinformationandparticipanteligibility

(123)456-7890

<!-- image -->

- Seattle,WA

## OBJECTIVE

Flexibleandattentiveentry-levelIT technicianwithvaluable experienceinSQLandnetwork infrastructure.Looking tojoin CenterlineLogisticsCorporationas anIThelpdesktechniciantoassist withinternaltechnicalprojectsand helpdevelopanITmanagement program.

## EDUCATION

BachelorofScience ComputerScience

## WashingtonStateUniversity

- 苗2016-2020
- Pullman,WA

## SKILLS

- ·SQL
- ·NetworkInfrastructure
- ·CustomerService
- ConflictResolution
- ·NetworkSecurity
- SoftwareDevelopmentLifeCycle (SDLC)
- ·Python
- ·InterpersonalCommunication